
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  black;
}
li {
  display: inline;
  float: left;
}
/* a {
  display: block;
  padding: 8px;
  background-color: black;
} */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #dddddd;
}

.active {
  background-color: #04aa575e;
}

li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}
ul {
  position: sticky;
  top: 0;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  grid-template-rows: repeat(120, 10vw);
  grid-gap: 1px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#profile{
  width: 90%;
  border-radius: 50%;
}

#signature{
  font: 200 80px/1.3 'Snell Roundhand', cursive
}

*{
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 33.33%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.skills{
  height: 400px;
  filter: grayscale(100%);
}
.skills_headers{
  text-align: center;
}

.skills_description{
  text-align:justify;
  border: 5px solid black;
}

#main_page_img{
  height: 850px;
  width: 100%;
}
.center_home {
  position: relative;
  width: 100%;
}

#main_body .btn{
  position: absolute;
  float: right;
  bottom: 8px;
  right: 16px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}
#main_body .btn:hover {
  background-color: black;
}

.middle-right{
  position: absolute;
  top: 300px;
  right: 4px;
  font: 200 60px/1.3 WindSong;
  text-align: justify;

}
.middle-name{
  position: absolute;
  top: 400px;
  right: 200px;
  font: 200 60px/1.3 WindSong;
  text-align: justify;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
  
}

input[type=submit] {
  background-color: gray;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: rgb(110, 208, 238);
}


.contact-container {
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 100px;
  margin-left: 300px;
  margin-right: 300px;
}
input[type=email], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=tel], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}